<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="serviceMapper">

	<!-- 타입별 게시물 번호들 불러오기 (sv_type) -->
	<select id="board_bno_All" resultType="int">
		SELECT bno 
		FROM sv_board 
		WHERE sv_type = #{sv_type}
	</select>
	
	<!-- 특정 게시물 불러오기 - 번호 (bno) -->
	<select id="board_one" resultType="eunbin.DTO.e_ServiceDTO">
		SELECT * 
		FROM sv_board 
		WHERE bno = #{bno}
	</select>
	
	<!-- 게시물 번호 가져오기 - 개별 -->
	<select id="board_bno" resultType="_int">
		SELECT bno 
		FROM sv_board 
		WHERE sv_type = #{sv_type}
		AND group_origin = #{group_origin}
	</select>
	
	<!-- 글 작성 - 최초 -->
	<insert id="board_write">
		INSERT INTO sv_board 
		(bno
		, sv_type
		, group_origin
		, group_order
		, admin_type
		, nickname
		, title
		, description
		, create_time
		, heart
		, view_no
		, member_no
		)
		VALUES
		(sv_bno_SEQUENCE.NEXTVAL
		, #{sv_type}
		, 1
		, 1
		, #{admin_type}
		, #{nickname}
		, #{title}
		, #{description}
		, #{create_time}
		, 0
		, 0
		, #{member_no}
		)
	</insert>
	
	<!-- 글 삭제 -->
	<delete id="board_delete">
		DELETE
		FROM sv_board 
		WHERE bno = #{bno}
	</delete>
	
	<!-- 글 수정 -->
	<update id="board_fix">
		UPDATE sv_board
		SET title = #{title},
		description = #{description}
		WHERE bno = #{bno}
	</update>
	
	<!-- 부수적인 기능 (조회수, 좋아요) -->
	<!-- 조회수 증가 -->
	<update id="board_viewUp">
		UPDATE sv_board
		SET view_no = #{view_no}
		WHERE bno = #{bno}
	</update>
	
	<!-- 조회수 증가 가능 여부 체크 -->
	<!-- 테이블이 존재하는지 확인 : member_no -->
	<select id="view_alive_mNo" resultType="_int">
		SELECT count(*) 
		FROM sv_viewcheck 
		WHERE bno = #{bno}
		AND member_no = #{member_no}
	</select>
	
	<!-- 테이블이 존재하는지 확인 : member_ip -->
	<select id="view_alive_mIp" resultType="_int">
		SELECT count(*) 
		FROM sv_viewcheck 
		WHERE bno = #{bno}
		AND member_ip = #{member_ip}
	</select>
	
	<!-- 테이블 없을 시 생성 : member_no -->
	<insert id="view_insert_mNo">
		INSERT INTO sv_viewcheck 
		(bno
		, view_time
		, member_ip
		, member_no
		)
		VALUES
		(#{bno}
		, to_char(sysdate, 'yyyymmdd')
		, 'none'
		, #{member_no}
		)
	</insert>
	
	<!-- 테이블 없을 시 생성 : member_ip -->
	<insert id="view_insert_mIp">
		INSERT INTO sv_viewcheck 
		(bno
		, view_time
		, member_ip
		, member_no
		)
		VALUES
		(#{bno}
		, to_char(sysdate, 'yyyymmdd')
		, #{member_ip}
		, 0
		)
	</insert>
	
	<!-- 테이블 불러오기 : member_no -->
	<select id="view_load_mNo" resultType="eunbin.DTO.e_SvViewcheckDTO">
		SELECT * 
		FROM sv_viewcheck  
		WHERE bno = #{bno}
		AND member_no = #{member_no}
	</select>
	
	<!-- 테이블 불러오기 : member_ip -->
	<select id="view_load_mIp" resultType="eunbin.DTO.e_SvViewcheckDTO">
		SELECT * 
		FROM sv_viewcheck  
		WHERE bno = #{bno}
		AND member_ip = #{member_ip}
	</select>
	
	<!-- 이미 있는 테이블에서 날짜 체크 -->
	<select id="view_dateCheck" resultType="_int">
		SELECT
		TO_CHAR(SYSDATE, 'YYYYMMDD')
		 - TO_CHAR(#{view_time}, 'YYYYMMDD') 
		FROM DUAL
	</select>
	
</mapper>